.main {
  background-color: #eff3f2;
  width: 100%;
  color: black;
}

h1 {
  text-align: center;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

button {
  background-color: #406882;
  border: none;
  color: #eff3f2;
  padding: 1rem 2rem;
  border-radius: 5px;
}

button:hover {
  background-color: #298bd0;
  color: #eff3f2;
}
