.intro {
  display: flex;
  flex-direction: column-reverse;
  display: flex;
  padding: 0rem 1rem;
}

.intro__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro__title {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  color: #333533;
  margin: 1rem 0rem;
}

.intro__info p {
  text-align: center;
  line-height: 1.45rem;
  font-size: 18px;
  color: #333533;
  margin: 0.5rem 0rem;
}
.intro__info a {
  width: 50%;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(105, 152, 171, 0.76) 0%,
    #6998ab 65.62%,
    #6998ab 100%
  );
  margin: 1rem;
  padding: 1rem 1.5rem;
  color: #fbfbf2;
  cursor: pointer;
  filter: drop-shadow(0px 3px 4px rgba(41, 139, 208, 0.55));
}

a.button:hover {
  background: #406882;
  color: #fbfbf2;
}

.intro__background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__image {
  align-self: center;
  width: 90%;
  background-image: url("/src/images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position-y: 1rem;
}

@media only screen and (min-width: 850px) {
  .intro__title {
    font-size: 3.5rem;
    text-align: left;
  }

  .intro {
    flex-direction: row;
    height: 75vh;
  }

  .intro__info {
    max-width: 500px;
    padding-left: 2rem;
  }

  .intro__title {
    font-size: 3.5rem;
    text-align: left;
  }

  .intro__info p {
    text-align: left;
    line-height: 1.75rem;
    font-size: 20px;
  }

  .intro_info {
    width: 100%;
  }

  .intro__info a {
    align-self: flex-start;
    margin-left: 0rem;
  }

  a.button:hover {
    color: #fbfbf2;
  }

  .intro__info button {
    margin: 2rem 0rem;
    font-size: 20px;
  }

  .intro__background {
    width: 100%;
  }
  .intro__image {
    max-height: 100%;
    width: 100%;
    background-position-y: 0rem;
  }
}
