* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: #3e3e3e;
  padding: 2rem 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background: #3e3e3e;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer ul {
  margin: 2rem 0rem;
}

.logo {
  max-width: 60px;
  margin-bottom: 1rem;
}

/* .footer ul {

} */

.footer li {
  list-style: none;
  color: white;
  margin-bottom: 0.5rem;
}

.short {
  width: 25npm0px;
  color: #b9b9b9;
}

.footer li a {
  color: #b9b9b9;
  /* text-decoration: none; */
}

.footer li a:hover {
  color: white;
  text-decoration: underline;
}

.copyright {
  color: white;
  text-align: center;
}

@media only screen and (min-width: 850px) {
  .footer {
    flex-direction: row;
    padding: 2rem 4rem;
  }
  .footer ul {
    margin: 0rem;
  }
}
